:root {
  --nav-width: 8rem;
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1;
}

h2 {
  color: rgb(0, 0, 86);
  width: fit-content;
}

a {
  margin: 0.5rem;
}

.section-description {
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px dashed black;
  border-radius: 4px;
  background-color: rgb(255, 244, 230);
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: calc(var(--nav-width) + 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  padding: 1rem;
  width: var(--nav-width);
  height: 100%;
  background-color: rgb(233, 233, 233);
  border-right: 1px solid grey;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  a {
    width: 90%;
    padding: 1rem;
    border-radius: 4px;
    font-weight: 600;
    color: rgb(0, 0, 145);
    text-decoration: none;
    background-color: white;
    text-align: center;
    display: block;

    &:hover {
      background-color: lightgray;
    }

    &.active {
      text-decoration: none;
      color: white;
      background-color: rgb(150, 150, 150);
    }
  }

  .image-logo {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
  }

  .user-info {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    color: rgb(0, 0, 145);
    border-radius: 5px;
    background-color: rgba(0, 0, 145, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    p {
      margin: 0;
      font-size: 0.9rem;
    }

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-style: italic;
    }
  }

  .sign-out {
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
  }
}

select,
input,
input:checked {
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: medium;
}

input:focus {
  background-color: rgb(255, 237, 215);
}

input:disabled {
  color: black;
  background-color: white;
  border: rgb(194, 2, 2) 2px solid;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

input[type="file"] {
  border: none;
}

/* Remove arrows/spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin: 0.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  width: fit-content;
  border: none;
  border-radius: 4px;
  background-color: rgb(190, 190, 190);

  &:hover {
    background-color: rgb(141, 141, 141);
  }

  &:disabled {
    background-color: grey;
    &:hover {
      background-color: grey;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 35rem;
  border-radius: 8px;
  padding: 1rem;
  border: 2px solid rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  /* Filter form */
  &.filter {
    width: 70rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
      width: 20%;
      height: 2%;
    }
  }

  label {
    margin: 0.3rem;
    min-width: fit-content;
    font-weight: 700;
    color: rgb(0, 0, 120);
  }

  .form-info {
    margin: 0.8rem 0;
    padding: 1rem;
    border: 2px dashed black;
    border-radius: 6px;
    background-color: rgb(255, 244, 230);
  }

  .form-info h3 {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(90, 50, 0);
  }

  .form-info-line {
    margin: 0.5rem 0;
  }

  .form-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.7rem 0;
  }

  .form-checkboxes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  input,
  select {
    width: 70%;
    padding: 0.5rem;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 1rem;
    transition: 0.3s;
    box-sizing: border-box;
  }

  input:focus,
  select:focus {
    border-color: rgb(0, 0, 120);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 120, 0.5);
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  button {
    min-width: 9rem;
    padding: 0.7rem;
    font-weight: 600;
    background-color: rgb(0, 102, 204);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background-color: rgb(0, 82, 164);
  }

  p.submit-message {
    text-align: center;
    color: rgb(194, 2, 2);
    font-weight: 600;
    margin-top: 0.5rem;
  }

  p.submit-message:empty {
    display: none;
  }
}

.confirmation-window {
  color: rgb(194, 2, 2);
  padding: 2.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 22rem;
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border: 2px solid rgb(100, 100, 100);
  border-radius: 8px;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  text-align: center;
  font-size: 1.1rem;

  input {
    width: 80%;
    padding: 0.5rem;
    margin: 0.8rem 0;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 6px;
    font-size: 1rem;
    transition: 0.3s;
  }

  input:focus {
    border-color: rgb(194, 2, 2);
    outline: none;
    box-shadow: 0 0 5px rgba(194, 2, 2, 0.5);
  }

  button {
    width: 6rem;
    padding: 0.6rem;
    font-weight: 600;
    background-color: rgb(194, 2, 2);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.5rem;
  }

  button:hover {
    background-color: rgb(165, 0, 0);
    box-shadow: 0 0 5px rgba(165, 0, 0, 0.5);
  }

  button.cancel {
    background-color: rgb(100, 100, 100);
  }

  button.cancel:hover {
    background-color: rgb(80, 80, 80);
  }
}

/* Materials List */
.material_list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;

  .list_header {
    margin: 0.5rem;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 145);
    font-weight: 600;

    p {
      margin: 0.5rem;
      width: 10rem;
    }
  }

  .material_list-item {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid transparent;
    padding: 0.6rem;
    background-color: white;
    border-radius: 5px;

    &.primary {
      border: 2px solid blue;
      background-color: rgb(203, 211, 255);

      &.primary:hover {
        background-color: rgb(175, 182, 222);
      }
    }

    &:hover {
      border: 2px solid rgb(136, 136, 136);
      background-color: bisque;
    }

    p {
      margin: 0.5rem;
      width: 10rem;
    }
  }
}

/* Reports */
table {
  width: fit-content;
  border-collapse: collapse;

  thead {
    border: 1px solid black;
    background-color: rgb(190, 190, 190);

    tr {
      text-align: center;

      th {
        border: 1px solid black;
        color: rgb(0, 0, 145);
        padding: 0.7rem;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: bisque;
      }
    }

    td {
      padding: 0.5rem;
      border: 1px solid black;

      &.negative {
        color: #d32f2f;
      }

      &.positive {
        color: #2e7d32;
      }

      &.neutral {
        color: #e67e22;
      }
    }
  }
}

footer {
  margin-left: calc(var(--nav-width) + 2rem);
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: #f1f1f1;
  color: #333;
}
