* {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin: 0.5rem;
  font-size: large;
}

nav {
  padding: 1.5rem;
  background-color: rgb(207, 207, 207);
  border: 1px solid black;
  position: sticky;
  top: 0;
  overflow: hidden;

  a {
    color: black;
    text-decoration: none;
    background-color: inherit;
  }

  a.active {
    text-decoration: none;
    color: white;
    background-color: grey;
    border-radius: 4px;
    padding: 0.7rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  border: 4px solid rgb(190, 190, 190);

  label {
    font-weight: 600;
    color: rgb(0, 0, 145);
    padding: 4px;
    border-radius: 4px;
  }
}

button {
  padding: 5px;
  width: 15rem;
  border-radius: 4px;
  background-color: rgb(190, 190, 190);

  &:hover {
    background-color: rgb(141, 141, 141);
  }
}

select,
input,
input:checked {
  padding: 10px;
  border-radius: 4px;
}

.filter {
  border: none;
  width: auto;
  justify-content: start;
  flex-direction: row;
}

.material_list {
  border: 2px solid rgb(71, 71, 71);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .list_header {
    color: rgb(0, 0, 145);
    font-weight: 600;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
  }

  .material_list-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;
    padding: 0.6rem;

    &:hover {
      border: 2px solid rgb(136, 136, 136);
      border-radius: 5px;
    }

    p {
      width: 30%;
      border-radius: 5px;
      font-weight: 600;

      label {
        padding: 0.6rem;
        background-color: rgb(164, 164, 164);
        border-radius: 5px;
        color: white;
      }
    }
  }
}
