* {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin: 10px;
  background-color: #f0f0f0;
  width: 60%;
}

nav {

  a {
    color: black;
    text-decoration: none;
  }

  a.active {
      text-decoration: none;
      color: white;
      background-color: grey;
      border-radius: 4px;
      padding: 8px;
    }
}


form {
  border: 1px solid black;
  padding: 10px;
}

button {
  padding: 5px;
  width: 70px;
  border-radius: 4px;
  background-color: #54c358;

  &:hover{
    background-color: #45a049;
  }
}

select, input {
  padding: 10px;
  border-radius: 4px
}